.w-container {
    padding-top: 4vh;
}


.w-container .w-row {
    margin-right: -10vw;
    padding-right: 0;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}
.heading-2.dark.title {
    line-height: 95px;
}

.heading-2.dark.title {
    margin-bottom: -30px !important;
    margin-top: -69px !important;
    margin-right: 58px !important;
}

.pisa-single-question .numbers {
    direction: rtl;
    display: inline-block;
    float: right;
    padding-left: 10px;
    font-family: 'Almoni dl aaa', sans-serif;
    color: #272f38;
    font-size: 28px;
    padding-top: 4px;
}