.w-container {
    padding-top: 4vh;

}



.w-container .w-row {
    margin-right: -10vw;
    padding-right: 0;
}


.disabled {
    opacity: 0.5;
    cursor: default;
}
.heading-2.dark.title {
    line-height: 95px;
    font-size: 30px !important;
    font-weight: 400;
    text-shadow: none;
}

ol{
    list-style-type: none;
}

ol li{
    margin-top: 60px;
    counter-increment: item;
    margin-bottom: 5px;
}

li .counter {
    margin-right: 10px;
    content: counter(item) ". ";
    color: #272d38;
    width: 1.2em;
    text-align: center;
    display: inline-block;
    font-family: 'Almoni dl aaa', sans-serif; 
    font-size: 30pt;
    font-weight: 900;
}

.heading-2.dark.title {
    margin-top: -100px;
    font-size: 40px !important;
    font-weight: 800;
}
.textForTop {
    margin-top: 95px;
}

.answer-but {
    margin-top: 50px;
}


