.div-block-3p.bottomp._2ndp {
  margin-top: 0px;
  margin-left: 276px;
}

.button-3p.levelp.average.group {
    border: none;
}

.button-3p.levelp.group.selected {
    border: 5px solid #fff;
    border-radius: 10px;
}


.button-3p.levelp.group {
    border-radius: 10px;
}