<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown change-password-container">
        <div>
            <!-- <img class="logo" src="../admin-images/logo.png" /> -->
        </div>
        <h2>שנה סיסמא</h2>
        <form action="/admin/changeAdminPassword" class="m-t" method="post" role="form">
            <div dir="rtl" class="form-group">
                <input class="form-control" id="password" name="password" placeholder="סיסמא נוכחית" type="password" value="" />
            </div>
            <div dir="rtl" class="form-group">
                <input class="form-control" id="new_password" name="new_password" placeholder="סיסמא חדשה" type="password" value="" />
            </div>
            <div dir="rtl" class="form-group">
                <input class="form-control" id="confirm_password" name="confirm_password" placeholder="אימות סיסמא חדשה" type="password" value="" />
            </div>
            <input type="submit" class="btn btn-primary block full-width m-b" value="שנה סיסמא" />
            <div type="submit" class="btn btn-primary-cancel block full-width m-b">ביטול</div>
        </form>
    </div>
</body>

</html>