.choices {
    margin: 35px 0 0 35px;
    line-height: 42px;
}
.w-col:nth-child(1), .w-col:nth-child(3) {
    /* margin-right: -70px !important; */
    float: right;
}
.w-col:nth-child(1) .choices, .w-col:nth-child(3) .choices{
    margin-left: 77px;
    margin-right: -42px;
}
.w-col[_ngcontent-c18]:nth-child(1) .image-20, .w-col[_ngcontent-c18]:nth-child(3) .image-20 {
    margin-left: -60px;
}
.w-container {
    margin-top: 30px;
}
.image-20 {
    left: 25px;
    bottom: -15px;
}
.heading-2.dark.title {
    line-height: 95px;
}
.disabled {
    opacity: 0.5;
    cursor: default;
}