<main-header></main-header>
<style>
                .header-mobile-social {
                  z-index: 501 !important;
                  position: fixed;
                  top: 0;
                  left: 0;
                  right: 0;
                  display: none;
                }
                
                .header-mobile-social .disconnect {
                  display: inline-block;
                }
                
                .header-mobile-social .navigation-menup {
                  transform: scaleY(0);
                  transition: 0.3s ease-in-out;
                  width: 100%;
                  background-color: #272d38;
                  display: flex;
                  flex-direction: column;
                  transform-origin: 0 0;
                }
                
                .header-mobile-social .navigation-menup.open {
                  transform: scaleY(1);
                }
                
                @media (max-width: 480px) {
                  .header-mobile-social {
                    display: initial;
                  }
                  .pnavigation-link.pwhite {
                    display: inline-block !important;
                  }
                }
              </style> 
              <div *ngIf="!dataService.showPopupSign && !dataService.showPopupContac" data-collapse="medium" data-animation="default" data-duration="400"
              class="navigation-barpp darkpp w-nav header-mobile-social">
            
              <div (click)="toggleMenu()" id="hamburger" class="hamburger-buttonp whitep w-nav-button">
                <div class="picon w-icon-nav-menu"></div>
              </div>
              <nav role="navigation" class="navigation-menup w-nav-menu">
                <a *ngIf="dataService.user.isEmpty() == false;" (click)="dataService.logOut();analyticsEvent('התנתק')" class="pnavigation-link pwhite w-nav-link">
                {{dataService.getText('disConnect')}}
              </a>
                <a (click)="dataService.showContacPopup();analyticsEvent('צור קשר')" class="pnavigation-link pwhite w-nav-link">
                  {{dataService.getText('contactUs')}}
              </a>
            
                <a *ngIf="dataService.user.isEmpty() == false;" [routerLink]="['/question-flow',dataService.type]" class="pnavigation-link pwhite w-nav-link">
                  {{dataService.getText(dataService.challengesData[dataService.type].nav.comp)}}
                </a>
            
                <a (click)="dataService.changeLanguage();analyticsEvent('החלפת שפה')" class="pnavigation-link pwhite w-nav-link">
                  עברית\عربيه
                  </a>
                <a *ngIf="dataService.user.isEmpty() == true && !hidesignup" (click)="dataService.showSignupPopup()" class="pnavigation-link pwhite w-nav-link">
                  {{dataService.getText('enter')}}
                </a>
                <a *ngIf="dataService.user.isEmpty()==false;" (click)="analyticsEvent('פרופיל')" [routerLink]="['/profile']" class="pnavigation-link pwhite w-nav-link">
                {{dataService.getText('private')}}
                </a>
              </nav>
            </div>
<div class="div-center">
        <span class="not-yet-sign-text">תקנון פעילות {{dataService.getChallengeName()}}
        </span>
</div>

<div class="subtext">
        <div class="title">
                החברה
        </div>
        <div class="subtext">
                פרזנטנס ישראל בע"מ (חל"צ) מ"ר 514259399, דרך חברון 24 סניף 112, רחוב קק"ל 8, רחביה, ירושלים 9354212.
        </div>
        <div class="title">
                משתתף
        </div>
        <div class="subtext">
                "אדם או קבוצה של עד שישה (6) אנשים העונים על כל אלה: (1) מלאו לו 14 (ארבע עשרה) שנים וגם טרם מלאו לו 16 (שש עשרה) שנים וגם הוא בכיתה ט'-י'; (2) הינו תושב ישראל ו/או בעלי היתר שהייה כדין (3) ;הוא בעל דרכון בתוקף ל-12 החודשים הבאים ממועד הפעילות; ו-(4) עמד בכל תנאי מתנאי תקנון זה.

מובהר בזאת כי קטינים (כמשמעות המונח בחוק הכשרות המשפטית והאפוטרופסות, תשכ"ב-1962) מתחת לגיל 14 אינם רשאים להשתתף בפעילות ולא יזכו בפרסים. 
מובהר כי, המשתתף כקטין, צריך לקבל את הסכמת הורהו/אפוטרופוס החוקי על מנת להשתתף בפעילות. כמו כן, מובהר בזאת, כי קבלת הפרס במסגרת הפעילות מותנית בקבלת אישור הורהו או אפוטרופוס החוקי של הקטין, והכל כמפורט בתקנון זה להלן.

יובהר כי החברה ו/או מי מטעמה רשאיות לפסול כל משתתף. עוד יובהר כי על המשתתף לעמוד בתנאי תקנון זה. משתתף אשר נפסל כתוצאה מהפרה של כל תנאי מתנאי תקנון זה, לא יעלה כל טענה ו/או תביעה ו/או דרישה כלפי החברה ומי מטעמה בקשר עם פסילתו."
        </div>
        <div class="title">
                אתר הפעילות
        </div>
        <div class="subtext">
                http://music.challengim.co.il
        </div>

        <div class="title">
                הפעילות
        </div>
        <div class="subtext">
                        פעילות בת שלושה שלבים הנערכת ע"י החברה באתר הפעילות במהלך תקופת הפעילות במסגרתה המשתתפים יידרשו להיכנס לאתר הפעילות ולהירשם באמצעות הזנת פרטים אישיים (שם מלא, אימייל וסיסמה אישית) או באמצעות שימוש בחשבון ה-FACEBOOK או ה-GOOGLE שלהם, ותתבצע כדלקמן:

                        שלב א'
                        המשתתפים יתבקשו לענות נכונה על שתי (2) שאלות ידע כללי סגורות בנושא מוזיקה.
                        
                        שלב ב'
                        שלב זה מתחלק לשני חלקים:
                        חלק א'- בחלק זה המשתתפים יתבקשו לענות נכונה על שלוש (3) שאלות אוריינות מתמטית.
                        חלק ב'-  בחלק זה המשתתפים יתבקשו להציע רשימת השמעה (פלייליסט) עם שמות שבעה (7) שירים, המתאימים ביותר למסיבת בית ("התכנים"). רשימות ההשמעה של המשתתפים ידורגו על ידי צוות השופטים והמשתתפים יוכלו לצבור עד 200 נקודות בחלק זה.
                        
                        עם השלמת השלבים יידרש המשתתף להזין גם את מספר הטלפון שלו לצורך יצירת קשר. בכל שלב יוכל המשתתף לעדכן את פרטיו ב"איזור האישי" באתר הפעילות.

        </div>
        <div class="title">
                צוות השופטים
        </div>
        <div class="subtext">
                צוות שופטים אשר ימונה על ידי החברה ו/או מי מטעמה ויבחר את הקמפיינים הטובים ביותר. 
יובהר כי שיקול הדעת הסופי בבחירת המועמד לזכייה בכל אחד מהפרסים נתון לצוות השופטים בהתאם לשיקול דעתו הבלעדי ולא לאף גורם זולתו, ולמשתתף לא תעמוד כל דרישה ו/או טענה ו/או תביעה בקשר עם בחירה כזו או אחרת. לצרכי קבלת החלטה על כל זכייה, השופטים לא יהיו חייבים לנמק את החלטתם.

        </div>
        <div class="title">
                תקופת הפעילות
        </div>
        <div class="subtext">
                        מיום ב' ה-26.2.2018 בשעה 18:00 ועד ליום ה' ה-29.3.2018 בשעה 20:00.

                        שעון החברה הוא השעון הקובע לעניין תקופת הפעילות ולעניין יום הפעילות.
                        
                        החברה ו/או מי מטעמה רשאיות לשנות את תקופת הפעילות, להאריכה, לקצרה או לבטלה באופן מוחלט, בהתאם לעדכונים אשר יפורסמו על ידי החברה ו/או מי מטעמה באתר הפעילות ויוטמעו בתקנון המעודכן שיפורסם מעת לעת באתר הפעילות, ולמשתתף ו/או למי מטעמו לא תעמוד כל טענה ו/או תביעה ו/או דרישה כלפי החברה ו/או מי מטעמה בגין כך.

        </div>
        <div class="title">
                מועמד לזכייה בפרס א
        </div>
        <div class="subtext">
                        שני (2) המשתתפים אשר ענו נכונה על השאלות בשלב א' ושלב ב'; ובשלב ג' קיבלו את הניקוד הגבוה ביותר בחלק א' בשלב זה וענו נכונה על כל השאלות בחלק א' בשלב זה; ועמדו ביתר הוראות התקנון.                 </div>
        <div class="title">
                מועמד לזכייה בפרס ב
        </div>
        <div class="subtext">
                        עשרה (10) המשתתפים אשר ענו נכונה על השאלות בשלב א' ושלב ב'; ובשלב ג' קיבלו את הניקוד הגבוה ביותר על חלק ב' בשלב זה וענו נכונה על לפחות שתי שאלות בחלק א' בשלב זה; ועמדו ביתר הוראות התקנון.                 </div>
        <div class="title">
                מועמד לזכייה בפרס ג
        </div>
        <div class="subtext">
                        עשרים (20) המשתתפים אשר ענו נכונה על השאלות בשלב א' ולפחות שלב ב'; ובשלב ג' קיבלו את הניקוד הגבוה ביותר בחלק ב' בשלב זה וענו נכונה על לפחות שאלה אחת בחלק א' בשלב זה; ועמדו ביתר הוראות התקנון.

                        בכל מקום בתקנון זה בו צויין "מועמד לזכייה" הכוונה היא למועמד לזכייה בפרס א' ולמועמד לזכייה בפרס ב' ופרס ג' ביחד.
                     </div>
        <div class="title">
                זוכה
        </div>
        <div class="subtext">
                        שני (2) מועמדים לזכייה בפרס א, עשרה (10) מועמדים לזכייה בפרס ב ועשרים (20) מועמדים לזכייה בפרס ג, אשר: (1) עמדו בכל תנאי מתנאי תקנון זה; (2) לא נפסלו מלהיות מועמדים לזכייה בפרס על פי הוראות תקנון זה; (3) לא נמנעה מהם קבלה או מימוש של פרס עפ"י הוראות תקנון זה; (4) הוכרזו כזוכים בפרס על ידי החברה לפי המנגנון המפורט בתקנון זה;         </div>
        <div class="title">
                פרס א
        </div>
        <div class="subtext">
                        שתי (2) חבילות טיסה ואירוח זוגיות להופעה של אד שירן בפריז בתאריכים 5-8.7.2018 הכוללות: טיסה, שהייה במלון Claret Bercy Hotel על בסיס לינה וארוחת בוקר ושני כרטיסים להופעה של אד שירן.        </div>
        <div class="title">
                פרס ב
        </div>
        <div class="subtext">
                        עשרים (10) אוזניות בלוטות' Beats by Dr. Dre.
                        </div>
        <div class="title">
                פרס ג
        </div>
        <div class="subtext">
                        ארבעים (20) רמקולי בלוטות‘ עמידים למים.

        </div>
        <div class="subtext">

                        בכל מקום בתקנון זה בו צוין "הפרס" הכוונה היא לפרס א ופרס ב' ופרס ג' ביחד.
                        
                        מובהר כי כל משתתף יוכל לזכות בפרס אחד לכל היותר, בכל תקופת הפעילות.
                        יובהר כי, ייתכן והפרס ואופן מימושו יהיו כפופים למגבלות נוספות, כפי שיפורטו באתר החברה ו/או בכל דרך אחרת שתבחר החברה בהתאם לשיקול דעתה. 
                        החברה ו/או מי מטעמה רשאיות לשנות ו/או להחליף את זהות הפרס, כולו או חלקו, ו/או את כמותו ו/או להוסיף עליו פרסים נוספים, לפי שיקול דעתה הבלעדי. עדכונים לעניין זה יפורסמו באתר הפעילות. 
                        לא תעמוד לכל משתתף ו/או לזוכה ו/או למקבל הפרס כל טענה ו/או תביעה ו/או דרישה כלפי החברה, לרבות בגין מימוש הפרס או אי מימושו לפי העניין ובהתאם לסוג הפרס, התאמתו לצרכי הזוכה, ערכו ולרבות בשל כל שינוי בו מכל סוג שהוא.
                        מובהר בזאת כי מחשבי החברה הם הקובעים לעניין מועד הזכייה בפרס והחברה תהיה הקובעת היחידה בין סדר הזכייה לסדר הפרס כאמור לעיל.
                        
                        מובהר בזאת כי קבלת הפרס הינה בכפוף לעמידה בכל הוראות תקנון זה.
        </div>
        <div class="title">
                        המלווה
                </div>
                <div class="subtext">
                                חבר/ה או בן משפחה של הזוכה בפרס הטיסה, בן 18 (שמונה עשרה) שנים לפחות, אשר הינו תושב ישראל ו/או בעל היתר שהייה בישראל תקף על פי כל דין, ועמד בכל תנאי תקנון זה בנוגע למלווה, לרבות נשיאת דרכון בתוקף וחתימה על נספח ב'.
                </div>
        <div class="title">
                התקנון
        </div>
        <div class="subtext">
                תקנון זה. התקנון יהיה זמין באתר הפעילות.
        </div>
        <div class="title">
                כללי
        </div>
        <div class="subtext">
                בכל מקרה של סתירה ו/או אי התאמה כלשהי בין הוראות תקנון זה לפרסומים אחרים כלשהם בדבר הפעילות, לרבות באתר הפעילות ו/או בכל
                דרך אחרת, למעט הודעה מטעם החברה בדבר שינוי תקנון זה, תגברנה הוראות תקנון זה לכל דבר ועניין. ייתכן ובמהלך
                הפעילות יעודכן התקנון, על פי שיקול דעתה של החברה. התקנון המעודכן יהיה זמין באתר הפעילות. נוסחו המחייב של
                התקנון בכל עת הוא הנוסח המעודכן, אף אם המשתתף או אדם אחר הסתמך על נוסח קודם. לא ניתן לערער על תוצאות הפעילות
                ו/או על כל עניין הנוגע אליהם, וקביעתה של החברה בעניין זה תהא סופית ומוחלטת ולא יבוא אחריה דבר. בתקנון הפעילות
                השימוש הינו בלשון זכר לצורכי נוחיות בלבד וכולל גם פניה בלשון נקבה ו/או רבים. הסכמה לאמור בתקנון זה מהווה
                תנאי להשתתפות בפעילות. בהשתתפותו בפעילות זו, מסכים, מאשר ומצהיר כל אחד מהמשתתפים, כי קרא את תקנון הפעילות
                וכי הוא מקבל על עצמו את כל הוראותיו, וגם אם לא קרא את התקנון, הוא מסכים כי התקנון יחול עליו ויחייבו לכל דבר
                ועניין.

        </div>
        <div class="title">
                ההשתתפות בפעילות
        </div>
        <div class="subtext">
                        אדם המעוניין להשתתף בפעילות יגלוש לאתר הפעילות ויירשם באמצעות הזנת פרטים אישיים (שם מלא, אימייל וסיסמה אישית) או באמצעות שימוש בחשבון ה-FACEBOOK או ה-GOOGLE שלהם. עם השלמת השלבים יידרש המשתתף להזין גם את מספר הטלפון שלו לצורך יצירת קשר. בכל שלב יוכל המשתתף לעדכן את פרטיו ב"איזור האישי" באתר הפעילות. מובהר בזאת כי, כניסה לאתר הפעילות ע"י משתתף אינה מהווה ראיה או הבטחה לקבלת פרס כלשהו. 
                        במהלך תקופת הפעילות תעלה החברה עם הפעילות באתר הפעילות ותזמין את המשתתפים להשתתף בה. הפעילות תכלול שלושה שלבים ותתבצע באופן הבא:
                        שלב א'
                        המשתתפים יתבקשו לענות נכונה על שתי (2) שאלות ידע כללי סגורות בנושא מוזיקה.
                        
                        שלב ב'
                        המשתתפים יתבקשו לענות נכונה על שאלת אוריינות מתמטית אחת (1) בנושא מוזיקה.
                        
                        שלב ג'
                        שלב זה מתחלק לשני חלקים:
                        חלק א'- בחלק זה המשתתפים יתבקשו לענות נכונה על שלוש (3) שאלות אוריינות מתמטית.
                        חלק ב'-  בחלק זה המשתתפים יתבקשו להציע רשימת השמעה (פלייליסט) עם שמות שבעה (7) שירים, המתאימים ביותר למסיבת בית ("התכנים"). רשימות ההשמעה של המשתתפים ידורגו על ידי צוות השופטים והמשתתפים יוכלו לצבור עד 200 נקודות בחלק זה.
                        
                        עם השלמת השלבים יידרש המשתתף להזין גם את מספר הטלפון שלו לצורך יצירת קשר. בכל שלב יוכל המשתתף לעדכן את פרטיו ב"איזור האישי" באתר הפעילות.
                         
                        מובהר בזאת כי המשתתפים בפעילות נותנים מראש ובעצם השתתפותם בפעילות את הסכמתם לחברה לעשות שימוש במידע שהתקבל כראות עינה ולפרסמה באמצעי תקשורת שונים לרבות - טלוויזיה, עיתונות, אינטרנט - פייסבוק ואינסטגרם, שילוט חוצות ומסכי חוצות, מבלי שהמשתתפים יקבלו תשלום.
                        במידה ושני (2) משתתפים או יותר השתתפו בפעילות וענו נכונה בזמן זהה או קיבלו את אותו הניקוד, ידורגו המשתתפים לפי המועד בו השתתפו, כך שהמשתתף אשר השתתף ראשון בזמן, ידורג ראשון מבין המשתתפים הללו. המשתתף אשר השתתף שני בזמן ידורג שני מבין המשתתפים הללו, וכן הלאה. 
                        מועמד לזכייה יוכל לזכות, לכל היותר, בפרס אחד בלבד במהלך כל תקופת הפעילות, ולא תעמוד לו כל טענה ו/או תביעה ו/או דרישה כלפי החברה ו/או מי מטעמה בגין האמור. 

        </div>
        <div class="title">
                הגבלות לגבי העלאת תכנים
        </div>
        <div class="subtext">
                        המשתתף מסכים, מאשר ומצהיר לגבי התכנים שאותם הוא העלה, כי:
                        הוא האדם היחיד אשר יצר את התכנים ואין לכל צד שלישי זכות כלשהי בתכנים. 
                        לחילופין, מקום בו צד שלישי יצר את התכנים, קיבל המשתתף את הסכמתו של היוצר כאמור להשתמש בתכנים אלה לשם ההשתתפות בפעילות וכן, קיבל את הסכמתו להעביר לחברה ו/או למי מטעמה את הזכויות בתכנים לרבות תנאי תקנון זה.
                        בכל מקרה שבו אדם אחר יצר את התכנים, המשתתף מצהיר מפורשות כי לחברה אין כל אחריות כלפיי כל נזק שייגרם כתוצאה מכך וכל האחריות בקשר עם האמור וכל נזק שייגרם יוטל על המשתתף. 
                        ידוע למשתתף שחל איסור מוחלט להעלות לאתר הפעילות כל תוכן המפר כל דין או הסכם או אשר פרסומו יהווה הפרה של כל דין או הסכם, לרבות אך לא רק תכנים אשר שימוש בהם או פרסומם יהווה או עשוי להוות (יחדיו להלן: "תוכן אסור"): 
                        הפרה של זכויות צדדים שלישיים, לרבות זכויות יוצרים, סימני מסחר, סימני שירות, מדגמים, זכויות מוסריות או כל זכות קניין רוחני אחרת; 
                        הפרה של דיני לשון הרע או הוצאת דיבה או פגיעה בשמו הטוב של אדם ו/או גוף כלשהו;
                        הפרה של דיני העונשין בקשר עם פרסומי תועבה;
                        הפרה של דיני הגנת הפרטיות;
                        הטעיה של צרכן;
                        פגיעה ברגשות הציבור או כל חלק ממנו;
                        הפרת חוזה או חובת אמון או סודיות;
                        תוכן שקרי, מטעה או מסולף;
                        התחזות לאדם אחר ו/או הולכת שולל משתתפים אחרים;
                        זיהוי אישי של אנשים אחרים, מבלי שנתנו את הסכמתם לפרסום זהותם ובפרט של קטין ללא אישור הוריו או האפוטרופוס שלו;
                        תוכן בעל אופי טורדני, פוגע, מעליב, עוין, מאיים, גס רוח, בעל אוריינטציה פורנוגראפית או בעל אופי מיני בוטה;
                        עידוד לאלימות, לאפליה, לשנאה או לגזענות;
                        עידוד להתנהגות פלילית או לשימוש או לפרסום המקים עילה לתביעה או אחריות אזרחית, או העלול לגרום לחברה נזקים;
                        תוכנת מחשב, קוד מחשב או יישום הכוללים נגיף-מחשב ("וירוס"), לרבות תוכנות-עוינות הידועות כסוס-טרויאני, תולעים (worms), ונדלים (vandals), יישומים מזיקים (Malicious Applications) וכיו"ב, וכן תוכנות לא חוקיות ו/או כל תוכן שהינו דואר זבל (spam) או שעלול לשמש לצורך הפצת דואר זבל.
                        החברה שומרת לעצמה את הזכות לפסול בכל עת, ולא לפרסם ו/או למחוק מאתר הפעילות כל תוכן לרבות כל תוכן אשר, לפי שיקול דעתה הבלעדי, קיים חשש כי הוא נופל לגדר תכנים אסורים וכן, כל חומר אשר לפי שיקול דעתה הבלעדי, איננו הולם את מדיניות החברה, בכל שלב, והכל בשל האמור וכן, מכל סיבה אחרת לפי שיקול דעתה הבלעדי של החברה וללא צורך לנמק פעולתה.
                        

        </div>
        <div class="title">
                קניין רוחני
        </div>
        <div class="subtext">
                        המשתתף מצהיר ומתחייב כלפי החברה, לגבי התכנים שאותם העלה לאתר הפעילות, כדלהלן:
                        התכנים במסגרת פעילות זו, הינם מקוריים ונוצרו על ידי המשתתף בלבד, וכי המשתתף הוא בעל כל זכויות הקניין הרוחני בתכנים, או שלחילופין הוראות סעיף ‎4.1.2 חלים עליהם, וזאת עד להעברתם לבעלות החברה כמפורט בסעיף ‎5.2 להלן. 
                        בפרסום התכנים באתר הפעילות מעביר המשתתף לחברה ללא תמורה את כל הזכויות בתכנים, לרבות כל זכויות היוצרים הנובעות מהם, לבעלותה המלאה והבלעדית של החברה, אשר תהא רשאית לעשות בתכנים שימוש בכל דרך שהיא, לרבות להעתיק, לשכפל, להפיץ, לשווק, לשדר, להעמיד לרשות הציבור, לעבד, לערוך, לתרגם ולהשתמש בתכנים בכל דרך אחרת, וכן להעניק רישיון משנה לשימוש בזכויות אלה – כולן או חלקן – לכל צד שלישי, באתרי אינטרנט, בדברי דפוס, לרבות בעיתונים, ובמגזינים, במדיות דיגיטאליות, ברשתות התקשורת, ברשתות החברתיות ובכלל זה גם במקרה שהחברה או צד שלישי כלשהו יפיקו הכנסה בגין השימוש שייעשה בתכנים כאמור. בנוסף, יחולו התנאים הבאים: 
                        החברה תהא רשאית, אך לא חייבת, לעשות שימוש בתכנים למטרות מסחריות ופרסומיות כלשהן.
                        המשתתף לא יהא רשאי לדרוש ו/או לתבוע כל תמורה או פיצוי עבור העברת כל הזכויות המרכיבות את התכנים כמפורט לעיל.
                        המשתתף מצהיר ומתחייב כי לא יעלה כל טענה ו/או תביעה ו/או דרישה בקשר עם הזכויות המוסריות בתכנים. 
                        המשתתף מוותר על כל טענה ו/או דרישה ו/או תביעה כלפי החברה ו/או מי מטעמה בגין כל שימוש שייעשה בתכנים לרבות כל שינוי בתכנים שיתבצע על ידי החברה ו/או מי מטעמה על פי שיקול דעתן המוחלט והבלעדי והכל מבלי לקבל ממנו הרשאה נוספת ו/או לשלם לו תמורה בגין השימוש כאמור. 
                        בנוסף ומבלי לגרוע מכל הוראה אחרת בתקנון זה מובהר בזאת, כי המשתתף יפצה ו/או ישפה את החברה, מיד עם דרישתה הראשונה, בגין כל נזק אשר ייגרם להן כתוצאה מתביעה ו/או דרישה ו/או טענה של המשתתף ו/או כל צד ג' שהוא בקשר עם זכויות היוצרים של החברה בתכנים על כל מרכיביהם. 
                        
        </div>
        <div class="title">
                קבלת הפרס
        </div>
        <div class="subtext">
                        לאחר תקופת הפעילות ולא יאוחר מיום 1.6.2018 החברה תנסה ליצור קשר עם המועמד לזכייה באמצעות שליחת מייל לכתובת אותה ציין בעת ההרשמה אליו יידרש המשתתף להשיב, עד שש (6) פעמים במהלך שבעה (7) ימי עסקים מיום מסירת הפרטים על ידו לחברה.  
                        במועד יצירת הקשר ולאחר וידוא פרטי המועמד לזכייה, החברה ו/או מי מטעמה, תתאם, לפי שיקול דעתה, מועד למסירת הפרס באמצעות הגעה למשרדי החברה ו/או שליח ו/או באמצעות דואר ישראל כמפורט בסעיף 6.5 להלן.
                        ככל שלא אותר המועמד לזכייה ו/או הוא נפסל בגין אי עמידתו בתנאי תקנון זה ו/או קיים חשד כי מועמדותו לזכייה הושגה בדרכים שאינן כשרות (לרבות ביצוע עבירה פלילית ו/או עוולה אזרחית, ובכלל זאת פריצה לאתר הפעילות או מסירת מידע שגוי) ו/או הודיע כי אינו מעוניין לקבל את הפרס, הכל לפי שיקול דעתה הבלעדי של החברה – אזי ייפסל המועמד לזכייה, ותחתיו יבוא משתתף אשר דורג אחריו בהתאם לתנאי תקנון זה, אשר ייחשב כמועמד לזכייה ויחולו לגביו ההוראות הנ"ל בהתאמה, וחוזר חלילה. מובהר כי מועמד לזכייה שנפסל לא יהיה זכאי לכל פיצוי שהוא מהחברה או מי מטעמה.
                        החברה תהיה רשאית, לפי שיקול דעתה הבלעדי, לשלוח את הפרס באמצעות הזמנת המשתתף למשרדיה ו/או כל מקום אחר לפי שיקול דעתה ו/או באמצעות דואר ישראל ו/או באמצעות שליח ו/או באמצעות כל דרך אחרת בהתאם לשיקול דעתה. החברה תהיה רשאית לדרוש מהמועמד לזכייה כי טופס ההתחייבות המצורף כנספח א' יישלח אליה מבעוד מועד בתוך תקופת זמן שתיקבע על-ידה, זאת כתנאי לקבלת הפרס. החברה ו/או מי מטעמה תהא רשאית לפסול כל מועמד לזכייה, עפ"י שיקול דעתה הבלעדי, אם המועמד לזכייה לא יעמוד בהוראות סעיף זה.
                        יובהר כי מרגע שנמסר הפרס לדואר ישראל ו/או לשליח ו/או ויצא משליטת החברה באמצעי אחר, החברה איננה אחראית לפרס שלא הגיע למועמד לזכייה, ולא תהיה לו כל דרישה ו/או תביעה מאת החברה ו/או מי מטעמה בשל כך.
                        במעמד מסירת פרס הטיסה יהיה על הזוכה בפרס הטיסה למסור פרטים לגבי המלווה, כהגדרת מונח זה לעיל, שבחר לצרף אליו למימוש פרס הטיסה. על המלווה יהיה להציג את נספח ב' כשהוא חתום וכן דרכון שהינו בתוקף למשך 12 (שניים-עשר) חודשים לפחות ממועד הזכייה.
                        החברה ו/או מי מטעמה תהא רשאית לפסול מועמד לזכייה (ואת המלווה של המועמד לזכיה בפרס הטיסה, ככל שרלוונטי), לפי שיקול דעתה הבלעדי. מועמד לזכייה אשר נפסל כאמור לא יהיה זכאי לממש את הפרס ולא יהיה זכאי לכל פיצוי ו/או סעד כלשהו מהחברה ו/או מי מטעמה. הוראות אלה יחולו בהתאמה גם על המלווה.    
                        
        </div>
        <div class="title">
                הפרס
        </div>
        <div class="subtext">
                        החברה רשאית לשנות ו/או להחליף את הפרס ו/או את כמותו ו/או להוסיף עליו פרסים נוספים, לפי שיקול דעתה הבלעדי של החברה ולזוכה לא תעמוד כל טענה ו/או תביעה ו/או דרישה כלפי החברה בגין האמור, לרבות בשל הפרס ו/או טיבו ו/או התאמתו ו/או איכותו ו/או אופן מימושו ו/או כמותו וכיו"ב. עדכונים לעניין זה יפורסמו באתר הפעילות, כהגדרתו לעיל.
                        יובהר, כי מועד אספקת הפרס בפועל, ייקבע על-ידי החברה ו/או מי מטעמן, ולזוכה לא תעמוד כל טענה ו/או תביעה ו/או דרישה כלפי החברה ו/או מי מטעמה בגין האמור, לרבות בשל כל עיכוב או דחייה במועד קבלת הפרס או כל חלק הימנו.
                        ידוע למשתתפים כי השתתפותם בפעילות זו הינה למטרת השעשוע ולשם ההנאה המושגת מעצם ההשתתפות בפעילות. במידה ויחול שינוי בפרס עליו הוכרז, לא תהיה למשתתפים כל טענה ו/או תביעה ו/או דרישה כלפי החברה ו/או מי מטעמה בקשר עם האמור.
                        הפרס שיחולק במסגרת פעילות זו אינו ניתן להחלפה, לשינוי או להמרה על ידי הזוכה לא בכסף ולא בשווה כסף ולא בכל פרס ו/או מוצר אחר.
                        

        </div>
        <div class="title">
                פטור מאחריות
        </div>
        <div class="subtext">
                        המשתתף מצהיר בזאת, כי אין ולא תהיה לו ו/או למי מטעמו, כל טענה ו/או דרישה ו/או תביעה כלפי החברה, מנהליה, עובדיה, ו/או מי מטעמה, בכל הקשור והמתייחס לפעילות, להשתתפות (או אי ההשתתפות) בה ו/או לזכייה בה. המשתתף מצהיר בזאת, כי התחייבותו זו הנה בלתי חוזרת ובלתי ניתנת לביטול או לשינוי.
                        ההשתתפות בפעילות הינה באחריותו הבלעדית של המשתתף, ו/או מי מטעמה לא תישאנה באחריות לכל נזק (לרבות נזק גוף), הפסד, אבדן או הוצאה מכל מין וסוג שייגרמו למי מהמשתתפים, והקשור, במישרין או בעקיפין, עם הפעילות.
                        המשתתף מצהיר, מסכים ומאשר כי ידוע לו כי פעילות זו, הנערכת בהתאם לתקנון זה, משלבת מרכיבים של שעשוע והנאה שהוענקו לו עם השתתפותו בפעילות וכי יתכן כי על אף מאמצי החברה, עשויים להתרחש אירועים ו/או שיבושים ו/או הפרעות ו/או תקלות, אשר יש בהם כדי למנוע מהמשתתף ו/או מהמועמד לזכייה מלזכות בפרס ו/או מלקבל את הפרס, והמשתתף מסכים לפטור את החברה מכל טענה ו/או דרישה ו/או תביעה, ולא יהיה זכאי לכל פיצוי, שיפוי או סעד בגינם. 
                        בהשתתפותו בפעילות מסכים המשתתף כי כל תקלה, שיבוש, איחור וכיו"ב, אשר מקורם בכוח עליון, מלחמה (לרבות בין מדינות או גורמים שאינם ישראל), שביתה, פיגועים, אסונות טבע וכיו"ב, בין בארץ ובין בכל מקום אחר, או כל אירוע אחר אשר אינו תלוי בחברה, לא ייחשב כלל להפרה של תקנון זה, ולא יזכה את המשתתף ו/או המועמד לזכייה ו/או הזוכה בכל סעד ו/או זכות ו/או תרופה ו/או טענה ו/או דרישה ו/או תביעה כנגד החברה ו/או מי מטעמה.
                        החברה אינה מתחייבת שהפעילות לא תופרע או תתקיים כסדרה ללא מגבלות או הפסקות, תנוהל ללא טעויות, תהא חסינה מפני נזקים, קלקולים, אי דיוקים, שגיאות ותקלות. מובהר בזאת, כי בכל אחד מהמקרים המפורטים בסעיף זה לעיל, תהא החברה לפי שיקול דעתה הבלעדי רשאית לנקוט כל צעד על מנת למזער ו/או לנטרל את האמור, לרבות להפסיק את הפעילות טרם תום תקופת הפעילות ו/או לבטל את הפעילות כליל ו/או לנקוט בכל צעד אחר, ולמשתתף לא תעמוד כל טענה ו/או תביעה ו/או דרישה כלפי החברה ו/או מי מטעמה בקשר עם האמור.
                        מבלי לגרוע מכלליות האמור לעיל, מובהר כי עיבוד הנתונים במסגרת הפעילות נסמך על אתר הפעילות אשר אינו חסין מכל טעות או תקלה. החברה אינה מתחייבת כי הפעילות תתנהל ללא תקלה, שגיאה, "נפילה" או טעות, ולמשתתף לא תהיה כל טענה או תביעה כתוצאה או בקשר לכך. כמו כן, מודגש, כי פעולת אתר הפעילות כפופה לזמינות ולתקינות של רשת האינטרנט, ולפיכך לא תהיה למשתתף כל טענה, דרישה או תביעה בגין כל נזק, אבדן, הפסד, פגיעה בסיכויים או הוצאה שייגרמו לו עקב טעות, נפילה, שיבוש, איחור או תקלה שנבעו מרשת האינטרנט כאמור. 
                        בכל מקרה בו יוכח כי תקלה, פגיעה או רשלנות של המשתתף מנעה ממנו מלהשתתף בפעילות ו/או מלזכות בפרס ו/או לממש את הפרס, תהיה החברה פטורה מאחריות.
                        החברה תהיה רשאית למסור כל מידע אשר יידרש ממנה על פי חוק ו/או על פי הוראה של רשות מוסמכת.
                        

        </div>
        <div class="title">
                הצהרות והתחייבויות המשתתף
        </div>
        <div class="subtext">
                        מבלי לגרוע מיתר חובותיו והתחייבויותיו על פי תקנון זה ו/או כל דין, המשתתף מצהיר ומתחייב כלפי החברה כי: 
                        כל הפרטים שמסר הינם נכונים ומדויקים.
                        מלאו לו 14 שנים וטרם מלאו לו 16 שנים והוא בכיתה ט'-י'. 
                        ידוע לו כי דינו של תקנון זה ודינה של הפעילות כדין חוזה למתן ציונים, והוראות סעיף 33 לחוק החוזים (חלק כללי), התשל"ג- 1973, חלים עליהם, על כן בחירת הזוכה בסיום תקופת הפעילות הנה סופית, חלוטה, בלתי ניתנת לתביעה ו/או לערעור, מחייבת ולא תהיה נושא לדיון בביהמ"ש ולא תצמיח עילת תביעה מכל מין וסוג שהוא.
                        המשתתף יישא בכל אחריות, מפורשת ומכללא, ויפצה וישפה את החברה ו/או את מנהליה ו/או עובדיה ו/או מי מטעמה, מיד עם דרישתה הראשונה לעשות כן, בגין כל נזק (לרבות נזקים ישירים, עקיפים, נסיבתיים, תוצאתיים, הפסדי רווחים ופגיעה במוניטין), הפסד, אובדן, הוצאות, מכל מין וסוג, וכן הוצאות משפט ושכ"ט עו"ד, בגין כל טענה דרישה ו/או תביעה הנובעת ממעשה ו/או מחדל שלא כדין הקשורים בדרך כלשהי להפרה במישרין ו/או בעקיפין של תקנון זה.
                        ידוע לו כי החברה אינה נושאת בכל אחריות באשר לאובדן פרטים של מי מהמשתתפים כתוצאה מכשל טכני, ואשר כתוצאה ממנו נמחקו, הושמדו או שובשו פרטים אישיים אשר נשלחו במסגרת הפעילות.
                        
        </div>
        <div class="title">
                תנאי שימוש באתר הפעילות
        </div>
        <div class="subtext">
                        המשתתף מסכים, מאשר ומצהיר כי הוא מאשר את תנאי השימוש באתר הפעילות המפורטים להלן:
                        השימוש של המשתתף באתר הפעילות הוא על אחריותו בלבד. בשום מקרה החברה ו/או מי מטעמה, לא יהיו אחראים לכל נזק, מכל סוג שהוא, לרבות אך מבלי לגרוע מכלליות האמור לעיל, נזקים ישירים, אגביים, תוצאתיים, עקיפים או עונשיים, או נזקים הנובעים מאובדן רווחים, אובדן נתונים או הפרעה למהלך העסקים ואשר נובעים מהגישה או השימוש של המשתתף באתר הפעילות או במידע הכלול בו או חוסר יכולת לגשת לאתר הפעילות או להשתמש בו. הגבלת אחריות זו חלה גם על כל נזק או וירוס אשר עלולים לפגוע בציוד המחשבים של המשתתף.
                        מובהר כי כל התכנים והשירותים המופיעים באתר הפעילות מובאים "כמות שהם" ( AS-IS). מבלי לגרוע מהאמור לעיל, החברה ו/או מי מטעמה, אינם נושאים בכל אחריות ביחס לתכנים המופיעים באתר, לרבות כל מידע בכל פורמט שהוא אשר יועמד לרשות המשתתף בכל אמצעי שהוא, הקיים כיום או יהיה קיים בעתיד (להלן – "תכני האתר"), בין אם תכנים אלה בבעלות האתר ובין אם הם בבעלות צד שלישי כלשהו, בקשר עם מהימנותם, תוכנם, דיוקם, אמינותם, זמינותם והשפעתם על המשתמשים באתר הפעילות ו/או כל צד שלישי הנחשף לתכני אתר הפעילות בכל דרך אחרת.
                        החברה הינה בעלת מלוא זכויות הקניין הרוחני באתר הפעילות ותכניו, לרבות סימנים מסחריים, עיצוב האתר, תוכנה, יישום, טקסט, תמונות וכל תוכן אחר ו/או בעלת כל הרישיונות לשימוש בהם. חל איסור לעשות שימוש כלשהו בסימנים המסחריים הנמצאים באתר הפעילות ו/או בתמונות ובמידע הכלול בו, לרבות העתקה, שכפול, הפצה פרסום וכיו"ב.
                        אין לפרש שום דבר מהאמור באתר הפעילות כאילו הוא מהווה מתן רישיון או זכות, מכללא, או מכוח השתק, או בדרך אחרת, בסימני המסחר או בקשר אליהם, ללא רשות מפורשת בכתב מאת החברה ובעל סימני המסחר. חל איסור מוחלט על שימוש לרעה בסימני המסחר שבאתר  הפעילות או בתכנים המוצגים בו.
                        החברה מעניקה למשתתף את טובת ההנאה של גישה וצפייה בתכני האתר הפעילות, אך ורק לשימוש אישי שלו ולא לשם שימוש מסחרי. החברה רשאית לבטל טובת הנאה זו בכל זמן, לאחר או ללא מתן הודעה, על יסוד סיבה, או ללא כל סיבה.
                        החברה שומרת על זכותה להגביל את הגישה לאתר הפעילות לכל אדם, אזור גיאוגרפי או רשות ריבונית, וזאת ללא מתן הודעה מראש. מלבד במקרה שבו ניתנה רשות מפורשת על ידי החברה, כל גישה או ניסיון גישה לאזורים אחרים במערכת המחשבים של החברה ו/או מי מטעמה או למידע אחר אשר נכלל במערכת זו, לכל מטרה, אסורים לחלוטין. המשתתף מתחייב לא להשתמש בכל תהליכים או אמצעים אוטומטיים או ידניים אחרים על מנת "לגרד מסכים", לנטר, "לכרות" או להעתיק עמודי אינטרנט באתר הפעילות, או תכנים אשר נכללים בו ללא רשות מפורשת בכתב מהחברה.
                        המשתתף מתחייב לא להשתמש בשום התקן, תוכנה או שגרה על מנת להפריע או לנסות להפריע לעבודה התקינה של אתר הפעילות. המשתתף מתחייב לא לעשות כל פעולה אשר תטיל עומס רב באופן לא סביר או לא מידתי על התשתיות של החברה או ספקיה. 
                        

        </div>
        <div class="title">
                שונות
        </div>
        <div class="subtext">
                        הפעילות ו/או תקנון זה אינם מהווים הצעה מאת החברה לציבור בכלל או למשתתף כלשהו, והם אינם אלא הזמנה מטעם החברה לכל משתתף להציע לחברה את השתתפותו, וזאת באופן ובתנאים המפורטים בתקנון זה.
                        כל אחד מהמשתתפים, מסכים ומאשר כי דבר השתתפותו ו/או זכייתו בפעילות, אפשר שיסוקרו, יצולמו וישודרו, באמצעי תקשורת, לרבות בטלוויזיה, בשילוט, בעיתונות, באתר הפעילות ו/או באתרי אינטרנט אחרים, וכי בעצם ההשתתפות בפעילות מביע המשתתף ו/או המלווה את הסכמתו לפרסום ו/או צילום שמו ותמונותיו במסגרת הסיקורים והפרסומים האמורים, לרבות במסגרת פרסומים וקידום מכירות של החברה. 
                        הזוכה בפרס הטיסה והמלווה מתחייבים בזאת לרכוש פוליסות ביטוח מתאימות בקשר עם מימוש הפרס, אשר יעניקו להם כיסוי ביטוחי, בין היתר, לכל נזק גוף או רכוש אשר עלול להיגרם להם בקשר עם הפרס ו/או במהלך הטיסות ו/או השהות ביעד. 
                        הפעילות אינה קשורה, ממומנת, נתמכת או מנוהלת על ידי פייסבוק ו/או גוגל. כל המידע אשר יימסר על-ידי המשתתף יימסר לחברה ו/או למי מטעמה, ולא לפייסבוק ו/או גוגל. השימוש במידע שיימסר על ידי המשתתף יהיה לצורך קידום מכירותיה של החברה בלבד. למשתתף ו/או למועמד לקבלת הפרס למי מטעמם לא תעמוד כל טענה ו/או תביעה ו/או דרישה כלפי פייסבוק ו/או גוגל ו/או מי מטעמן בקשר עם פעילות זו.
                        בכל מקרה שיוכח, כי רשלנות של החברה ו/או מי מטעמה מנעה מאדם מלהשתתף בפעילות ו/או מלזכות בפרס ו/או מלקבל את הפרס במסגרת הפעילות, יוגבל הפיצוי לו המשתתף יהיה זכאי לגובה עלות הגלישה באינטרנט על מנת להיכנס לאתר הפעילות.
                        כל מועמד לזכייה יהיה חייב, לפי דרישת החברה, להצהיר בכתב בנוסח המצורף כנספח א' להסכם זה כי, בין היתר, איננו נמנה על אלה אשר אסורה השתתפותם בפעילות לפי תנאי תקנון זה וכי זכותו לא הושגה תוך הפרת תקנון זה או בניגוד לאחד מתנאיו. 
                        ההשתתפות בפעילות אסורה על עוזריהם, עובדיהם, מנהליהם, שותפיהם ובני משפחותיהם של החברה.
                        למען הסר ספק, הפעילות לפי תקנון זה אינה מהווה הגרלה כהגדרתה בסעיף 244 לחוק העונשין, וזאת בשל העובדה כי הזכייה בה תלויה ביכולת ולא בגורל. 
                        הדין החל על תקנון זה וכל הנובע ממנו הוא הדין הישראלי בלבד. סמכות השיפוט הייחודית נתונה לבתי המשפט המוסמכים בתל-אביב. תקופת ההתיישנות לכל תביעה נגד החברה בכל עניין הנובע במישרין ו/או בעקיפין מהשתתפות בפעילות הינה שנה ממועד סיומה.
                        
        </div>


</div>

<main-footer [showPartners]="true"></main-footer>